<!-- Static navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/" title="BlogHome">BH</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" title="Research On Compute Science">ROCS  <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/rocs/pl">PL</a></li>
                        <li><a href="#/rocs/algo">Algo</a></li>
                        <li><a href="#/rocs/math">Math</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Research On Heros">ROH  <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/roh/marvel">Marvel</a></li>
                        <li><a href="#/roh/dccomics">Dc Comics</a></li>
                        <li><a href="#/roh/starwars">Star Wars</a></li>
                        <li><a href="#/roh/various">Various</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Thoughts On Movies">TOM  <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/tom/action">Action</a></li>
                        <li><a href="#/tom/thriller">Thriller</a></li>
                        <li><a href="#/tom/mystery">Mystery</a></li>
                        <li><a href="#/tom/drama">Drama</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Photography">Photo  <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/photo/nature">Nature</a></li>
                        <li><a href="#/photo/animal">Animal</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Enjoy My Games">EMGA <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/engm/space">Space</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Psychology">PSYC  <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/psyc/ocb">OCB</a></li>
                        <li><a href="#/psyc/socialanxiety">Social anxiety</a></li>
                    </ul>
                </li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>